.User{
    /* background:linear-gradient( -45deg,#BAC8E0 , #6A85B6 ) ; */
    /* background: linear-gradient(-45deg,#29323c 50%,#485563 50% ); */
    background: linear-gradient(-45deg,#C06015 50%,#262626 50% );
    display:flex;
    /* flex-wrap: wrap; */
}

@media screen and (max-width: 400px){
    .User{
        display:block;
    }
}