.NavDiv{
    height:75px;
    /* border-bottom: solid 1px aliceblue; */
    display:flex;
    justify-content: space-between;
}
.NavDivImg img{
    height:60px;
    width:60px;
    padding:10px 20px;
}
.forAvinash{
    
    height:200px;
    width:100%;
    text-align: center;
}
.forAvinash img{

    height:200px;
    width:300px;

}
.LogPage{

    background-image: url(./../../../public/Assets/loginBg.jpg);
    background-size: cover;
    background-repeat: none;
}
.Login{
    display: flex;
    width:100%;
    height:calc(100vh - 200px);
    color:aliceblue

}
.details{
    margin:auto;
    display:flex;
    /* border: solid 1px aliceblue; */
    box-shadow: -2px -2px 10px #f8f0e3;
    height:350px;
    width:350px;
    border-radius:20px;
    backdrop-filter: blur(4px);
}
.detailDiv{
    margin:auto;
}
.formDiv{
    padding:15px;
}
.formBtn{
    padding:5px 20px;
    border:solid 1px aliceblue;
}
.formBtn:hover{
    cursor: pointer;
}

@media screen and (max-width: 400px){
    .LogPage{
        background-image: url(./../../../public/Assets/loginBgMobile.jpg);    
    }
    .details{
        height:80vw;
        width:80vw;
    }
}