.Cards{
    width:500px;
    height:250px;
    border: solid aliceblue 1px;
    display:flex;
    /* flex-wrap: wrap; */

    margin:10px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: black;
    font-size: 18px;
    background-color: rgba(255,255,255, 1);
    /* background-color: #F9F6EE; */
}
.CardsLeft{
    width:250px;
    height:250px;
    border-radius: 10px;
    border: solid 1px black;
    
}
.CardsRight{
    width:250px;
    padding:5px;
}
span{
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width:400px){
    .Cards{
        /* display:block; */
        flex:wrap;
        /* width:100vw; */
        /* display: block; */
    }
    .CardsLeft{
        width:95vw;
    }
    .CardsRight{
        width:95vw;
    }
}


