.Left{
    width:50vw;
    height:120vh;
    border-right: solid black 1px;
    color:aliceblue;
    font-size: 20px;
    font-weight: 800;
}
.LeftHead{
    display:flex;
    justify-content: space-evenly;
    height:60px;
    align-items: center;
    border:solid 1px black;
}

.LeftForm{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height:50vw;
    width: 50vw;
    color:black
    
}
.SubDivForm{
    /* background-color: aliceblue; */
    backdrop-filter: blur(10px);
    box-shadow: -5px 5px 50px aliceblue;
    color:aliceblue;
    /* border:solid 1px aliceblue; */
    height:400px;
    width:400px;
    display:flex;
    border-radius: 20px;
    
}
.subForm{
    margin: auto;
}
.subInput{
    width:350px;
}
.leftSub{
    padding:2px;
}

/* .LeftFormBtn{
    width:50vw;
    display:flex;
    align-items: center;
} */
.AddBtn{
    padding:10px 40px;
    position:absolute;
    left:35%;
    border-radius: 10px;
}

@media  screen and (max-width:400px) {
    .Left{
        width:100vw;
        height:max-content;
        font-size: 20px;
        font-weight: 500;
    }
    .Extra{
        height:25px;
        width:200px;
    }
    .LeftHead{
        height:50px;    
    }
    .LeftForm{
        height:90vh;
        width: 100vw;
        
    }
    .SubDivForm{
        background-color: transparent;
        backdrop-filter: blur(10px);
        /* border: solid 1px aliceblue; */
        color:aliceblue;
        height:70vh;
        width:90vw;
    }
    .subInput{
        width:85vw;
    }
    
}